.aa{

    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;

}
h5{
    color: orange;
}
.ab{
    padding-top: 15px;
}
.ac{
    background-image: url(meeting-g10bbce6ad_1280.jpg);
    
}
h1{

    color: white;
}
.ad{

    color: white;
}