{% extends "home.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body_block %}
    {% if validlink %}
    <h4>set new password </h4>
    <form  method="post">
        {% csrf token %}
        new password: <input type="text" name="new password1"><br><br>
        confirm password: <input type="text " name="new pasword2"> <br><br>
        <input type="submit" value="change password">

    </form>
    {% else %}
    <p>your password has been sent</p>
    <a href="{% url ' login' %}" class="btn btn-primary">Log in</a>
    {% endif %}
    {% endblock %}
</body>
</html>